/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-02db663496e548c5e5b7.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-004f9b993713cf8a6075.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-82672720b5b2a5e50057.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-10-23T17-41-16-0862.json
/cmake-build-debug/.cmake/api/v1/reply/target-ALL_CGAL_TARGETS-Release-165bbc93885cc38918c6.json
/cmake-build-debug/.cmake/api/v1/reply/target-cgal_check_build_system-Release-a46771b536be3e3ef332.json
/cmake-build-debug/.cmake/api/v1/reply/target-CGAL_Qt5_moc_and_resources-Release-19351fddf9a0edba5bbe.json
/cmake-build-debug/.cmake/api/v1/reply/target-CGAL_Qt5_moc_and_resources_autogen-Release-abda67a1ddd4fd8ad127.json
/cmake-build-debug/.cmake/api/v1/reply/target-CGAL_Qt5_moc_and_resources_autogen_timestamp_deps-Release-4b9ec6e35375c1c78d9a.json
/cmake-build-debug/.cmake/api/v1/reply/target-compilation_of__CGAL_Qt5_moc_and_resources-Release-fa627a393a222cf04e80.json
/cmake-build-debug/.cmake/api/v1/reply/target-Routing_on_the_hyperbolic_plane-Release-7b8c9adba6d25a7b0298.json
/cmake-build-debug/.cmake/api/v1/reply/target-Routing_on_the_hyperbolic_plane_autogen-Release-4c82e07dfd70d634a33d.json
/cmake-build-debug/.cmake/api/v1/reply/target-Routing_on_the_hyperbolic_plane_autogen_timestamp_deps-Release-433c4743d68874dfed46.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_camera.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_camera.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_DemosMainWindow.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_DemosMainWindow.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_frame.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_frame.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_GraphicsItem.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_GraphicsItem.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_GraphicsViewInput.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_GraphicsViewInput.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_GraphicsViewNavigation.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_GraphicsViewNavigation.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_image_interface.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_image_interface.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_keyFrameInterpolator.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_keyFrameInterpolator.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_manipulatedCameraFrame.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_manipulatedCameraFrame.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_manipulatedFrame.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_manipulatedFrame.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_qglviewer.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/UGA3IZMJJH/moc_qglviewer.cpp.d
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/deps
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/mocs_compilation.cpp
/cmake-build-debug/CGAL_Qt5_moc_and_resources_autogen/timestamp
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources.dir/CGAL_Qt5_moc_and_resources_autogen/mocs_compilation.cpp.obj
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources.dir/qrc_CGAL.cpp.obj
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources.dir/qrc_File.cpp.obj
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources.dir/qrc_Input.cpp.obj
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources.dir/qrc_Triangulation_2.cpp.obj
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/AutogenInfo.json
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/AutogenUsed.txt
/cmake-build-debug/CMakeFiles/CGAL_Qt5_moc_and_resources_autogen.dir/ParseCache.txt
/cmake-build-debug/CMakeFiles/d/01d6489f58e866bd03a3a173a155732cc0472a8b1ade0fbb2717efdb1fd4b7b8.d
/cmake-build-debug/CMakeFiles/d/06f628c6d052f8aa1bebd444ca36e55d107772b13f2622ba6d8c7345a0b59c3b.d
/cmake-build-debug/CMakeFiles/Routing_on_the_hyperbolic_plane.dir/Routing_on_the_hyperbolic_plane_autogen/mocs_compilation.cpp.obj
/cmake-build-debug/CMakeFiles/Routing_on_the_hyperbolic_plane.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/Routing_on_the_hyperbolic_plane.dir/qrc_Main.cpp.obj
/cmake-build-debug/CMakeFiles/Routing_on_the_hyperbolic_plane_autogen.dir/AutogenInfo.json
/cmake-build-debug/CMakeFiles/Routing_on_the_hyperbolic_plane_autogen.dir/AutogenUsed.txt
/cmake-build-debug/CMakeFiles/Routing_on_the_hyperbolic_plane_autogen.dir/ParseCache.txt
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/clean_additional.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/icons/Delaunay_triangulation_2.png
/cmake-build-debug/icons/File.qrc
/cmake-build-debug/icons/File.qrc.depends
/cmake-build-debug/icons/fileNew.png
/cmake-build-debug/icons/fileOpen.png
/cmake-build-debug/icons/fileSave.png
/cmake-build-debug/icons/fit-page-32.png
/cmake-build-debug/icons/Input.qrc
/cmake-build-debug/icons/Input.qrc.depends
/cmake-build-debug/icons/inputPoint.png
/cmake-build-debug/icons/inputPoint.svg
/cmake-build-debug/icons/inputPolyline.png
/cmake-build-debug/icons/license.txt
/cmake-build-debug/icons/Triangulation_2.qrc
/cmake-build-debug/icons/Triangulation_2.qrc.depends
/cmake-build-debug/icons/Voronoi_diagram_2.png
/cmake-build-debug/icons/zoom-best-fit.png
/cmake-build-debug/icons/zoom-best-fit.svg
/cmake-build-debug/plugins/iconengines/qsvgicon.dll
/cmake-build-debug/plugins/imageformats/qgif.dll
/cmake-build-debug/plugins/imageformats/qicns.dll
/cmake-build-debug/plugins/imageformats/qico.dll
/cmake-build-debug/plugins/imageformats/qjpeg.dll
/cmake-build-debug/plugins/imageformats/qsvg.dll
/cmake-build-debug/plugins/imageformats/qtga.dll
/cmake-build-debug/plugins/imageformats/qtiff.dll
/cmake-build-debug/plugins/imageformats/qwbmp.dll
/cmake-build-debug/plugins/imageformats/qwebp.dll
/cmake-build-debug/plugins/platforms/qwindows.dll
/cmake-build-debug/plugins/styles/qwindowsvistastyle.dll
/cmake-build-debug/resources/about_CGAL.html
/cmake-build-debug/resources/CGAL.qrc
/cmake-build-debug/resources/CGAL.qrc.depends
/cmake-build-debug/resources/cgal_logo.xpm
/cmake-build-debug/resources/cgal_logo_ipe_2013.png
/cmake-build-debug/resources/Main.qrc.depends
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/35JDY7X24U/moc_QObjectInput.cpp
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/35JDY7X24U/moc_QObjectInput.cpp.d
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/BVAXKO6667/moc_QObjectInput.cpp
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/BVAXKO6667/moc_QObjectInput.cpp.d
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/include/main.moc
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/include/main.moc.d
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/deps
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/mocs_compilation.cpp
/cmake-build-debug/Routing_on_the_hyperbolic_plane_autogen/timestamp
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/brotlicommon.dll
/cmake-build-debug/brotlidec.dll
/cmake-build-debug/build.ninja
/cmake-build-debug/bz2.dll
/cmake-build-debug/CGAL_Qt5_moc_and_resources.lib
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/double-conversion.dll
/cmake-build-debug/freetype.dll
/cmake-build-debug/gmp-10.dll
/cmake-build-debug/harfbuzz.dll
/cmake-build-debug/jpeg62.dll
/cmake-build-debug/liblzma.dll
/cmake-build-debug/libpng16.dll
/cmake-build-debug/libsharpyuv.dll
/cmake-build-debug/libwebp.dll
/cmake-build-debug/libwebpdemux.dll
/cmake-build-debug/libwebpmux.dll
/cmake-build-debug/pcre2-16.dll
/cmake-build-debug/qrc_CGAL.cpp
/cmake-build-debug/qrc_File.cpp
/cmake-build-debug/qrc_Input.cpp
/cmake-build-debug/qrc_Main.cpp
/cmake-build-debug/qrc_Triangulation_2.cpp
/cmake-build-debug/qt.conf
/cmake-build-debug/Qt5Core.dll
/cmake-build-debug/Qt5Gui.dll
/cmake-build-debug/Qt5OpenGL.dll
/cmake-build-debug/Qt5Svg.dll
/cmake-build-debug/Qt5Widgets.dll
/cmake-build-debug/Routing_on_the_hyperbolic_plane.exe
/cmake-build-debug/tiff.dll
/cmake-build-debug/ui_ImageInterface.h
/cmake-build-debug/ui_Main.h
/cmake-build-debug/zlib1.dll
/cmake-build-debug/zstd.dll
/resources/demo worlds/
